.mat__main--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .mat__group--logo,
  .mat__menu-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat__search--input {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 10px;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: relative;

    label {
      display: flex;
      align-items: center;
      padding: 0;

      input {
        width: calc(100% - 55px);
        background-color: transparent;
        border: 0;
        padding: 0 10px 0 0;
        outline: none;
        font-size: 0.9rem;
        color: var(--color-text-main);
        position: absolute;
        left: 50%;
        left: 40px;
        z-index: 1;

        &.has__filter--options {
          width: calc(100% - 90px);
        }

        &:valid + .bg__search,
        &:focus + .bg__search {
          background-color: #fff;
        }

        &:valid + .bg__search + .inner__wrap--search,
        &:focus + .bg__search + .inner__wrap--search {
          width: 350px;
        }
      }
    }

    .mat__search--text-label {
      color: var(--color-text-main);
      font-size: 0.9rem;
      font-weight: 400;
      display: block;
      padding: 0 5px;
    }

    .bg__search {
      width: 100%;
      height: 100%;
      content: '';
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .inner__wrap--search {
      width: 180px;
      display: flex;
      position: relative;
      z-index: -4;
      content: '';
      transition: all 0.4s ease-in-out;
      visibility: hidden;
    }

    .mat__btn--options {
      width: 40px;
      height: 40px;
      background-color: transparent;
      box-shadow: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }

    .mat__icon--search,
    .mat__icon--filter {
      width: 35px;
      color: var(--color-text-main);
    }
  }
}

.mat__drawer--container {
  height: auto;
  min-height: calc(100vh - 64px);
  overflow: hidden;

  .mat__drawer--menu {
    width: 280px;
    height: calc(100vh - 64px);
    margin-top: 64px;
    position: fixed;
  }

  .app__main {
    padding-top: 64px;
    margin-bottom: 60px;
  }
}
