<mat-toolbar color="primary" class="mat__main--nav">
  <div class="mat__group--logo">
    <button mat-icon-button aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Auth</span>
  </div>

  <div class="mat__search--input">
    <input type="text" placeholder="Buscar">
    <mat-icon matSuffix class="mat__icon--search">search</mat-icon>
  </div>

  <div class="mat__menu-content">
    <button mat-icon-button aria-label="Configurações">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button aria-label="Sair da aplicação" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<main class="app__main">
  <router-outlet />
</main>
