.mat__main--nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .mat__group--logo,
  .mat__menu-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat__search--input {
    width: 100%;
    max-width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;

    input {
      width: calc(100% - 30px);
      background-color: transparent;
      border: 0;
      outline: none;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
    &:focus-within {
      max-width: 360px;
      background-color: #fff;
    }

    .mat__icon--search {
      color: #333;
    }
  }

}

.mat__drawer--container {
  height: auto;
  overflow: hidden;

  .mat__drawer--menu {
    width: 280px;
    height: calc(100vh - 64px);
    margin-top: 64px;
    position: fixed;
  }

  .app__main {
    padding-top: 64px;
    margin-bottom: 60px;
  }
}
