<mat-toolbar color="primary" class="mat__main--nav">
  <div class="mat__group--logo">
    <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Auth</span>
  </div>

  <label for="main__search" class="mat__search--input">
    <input type="text" id="main__search" placeholder="Buscar" required />
    <mat-icon matSuffix class="mat__icon--search">search</mat-icon>
  </label>

  <div class="mat__menu-content">
    <button mat-icon-button aria-label="Configurações">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button aria-label="Sair da aplicação" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-drawer-container class="mat__drawer--container">
  <mat-drawer #drawer opened mode="side" class="mat__drawer--menu">
    <app-drawer />
  </mat-drawer>
  <mat-drawer-content>
    <main class="app__main">
      <router-outlet />
    </main>
  </mat-drawer-content>
</mat-drawer-container>
