.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .section__header--group {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .mat__paginator--table {
    background-color: transparent;
  }
}

.mat__table--products {
  width: 100%;

  .mat__table--head-tr {
    background-color: #eeee;
  }

  .mat__table--body-tr {
    td {
      &.mat__td--event-click {
        cursor: pointer;
      }
    }

    &:nth-child(even) {
      background-color: #f9f9f9;
    }
  }

  .products__in--stock {
    &.low__stock {
      color: orange;
    }
    &.critical__stock {
      color: red;
    }
    &.positive__stock {
      color: green;
    }
  }

  .mat__table--thumbnail {
    width: 100px;
    height: 70px;
    object-fit: contain;
    object-position: center;
  }
}

.section__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;

  .mat__paginator--table {
    background-color: transparent;
  }
}
