:host {
  display: flex;
  width: 800px;
  height: 100vh;
  min-width: 100px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
}

.mat__dialog--content-product {
  width: 100%;
  max-height: calc(100vh - 56px);

  form {
    width: 100%;
  }
}
