<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <form>
    <mat-form-field class="w-full">
      <mat-label>Título</mat-label>
      <input matInput placeholder="Nome do produto" name="title" formControlName="title">
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Descrição</mat-label>
      <input matInput placeholder="Descrição do produto" name="description" formControlName="description">
    </mat-form-field>

    <div class="mat__button--send">
      <button mat-flat-button color="primary" class="w-full" type="submit">
        Salvar
      </button>
    </div>

  </form>
</mat-dialog-content>
