.main__container--drawer {
  width: 100%;

  .mat__drawer--list {
    .mat__drawer--list-item {
      width: 100%;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: 500;
      padding: 0;

      &:not(:last-of-type){
        border-bottom: 1px solid #e6e6e6;
      }

      &:hover {
        background-color: #f8f8f8;
      }

      a {
        width: 100%;
        height: 48px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0 30px;
        color: var(--color-text-main);

        &.active {
          background-color: #eee;
        }
      }
    }
  }
}
