@if(false){
  <table mat-table #table [dataSource]="dataSource" class="mat__table--products mat-elevation-z8" aria-describedby="Tabela de listagem de produtos">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Thumbnail Column -->
    <ng-container matColumnDef="thumbnail">
      <th mat-header-cell *matHeaderCellDef> Foto </th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.thumbnail" [alt]="element.title" class="mat__table--thumbnail" />
      </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Brand Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Preço </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
}

@if(true){
  <table aria-describedby="" class="mat__table--products mat-elevation-z8">
    <thead>
      <tr>
        <th>ID.</th>
        <th>Foto</th>
        <th>Título</th>
        <th>Marca</th>
        <th>Categoria</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      @for (item of data; track item.id) {
        <tr>
          <td>{{ item.id }}</td>
          <td>
            <img [src]="item.thumbnail" [alt]="item.title" class="mat__table--thumbnail " />
          </td>
          <td>{{ item.title }}</td>
          <td>{{ item.brand }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.price }}</td>
        </tr>
      }
    </tbody>
  </table>
}
