.section__page--container {
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 340px;
    gap: 30px;
  }

  .mat__card--profile {
    margin-top: 30px;

    .mat__card--profile-header {
      background-color: #eeee;
      padding: 16px;
      font-size: 16px;
      font-weight: 500;
    }

    .mat__card--profile-content {
      padding-top: 16px;

      form {
        legend {
          font-weight: 500;
          padding-bottom: 20px;
        }

        .mat__divider {
          margin: 40px 0 45px;
        }

        .grid__container {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 10px;

          .grid__col {
            &.w-full {
              grid-column: 1/5;
            }
            &.c-2 {
              grid-column: 1/3;
            }
            &.c-3 {
              grid-column: 3/5;
            }
            &.c-auto {
              grid-column: 1fr;
            }
          }
        }

        .mat__button--send {
          display: flex;
          justify-content: center;
          margin-top: 30px;

          button {
            width: 100%;
            max-width: 240px;
          }
        }
      }
    }
  }

  .mat__card--profile-details {
    margin-top: 30px;

    .mat__card--profile-content {
      padding-top: 16px;

      p {
        line-height: 1.3;
        margin: 0px 0 5px;

        strong {
          font-weight: 500;
        }
      }
    }
  }
}
