.main__auth {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;

  .section__auth--content {
    width: 100%;
    max-width: 1170px;
    min-height: calc(100vh - 300px);
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: row-reverse;
    background-color: #fff;

    .bg {
      width: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      z-index: 1;

      &:before {
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0,0,0,.3);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  }
}
